.card {
    height: 180px;
    background-color: skyblue;
    text-align: center;
    line-height: 100px;
    font-weight: bold;

    box-shadow: 3px 3px 5px black;
}

.inset_box {
    width: 200px;
    height: 120px;
    background: lightblue;
    margin: 20px auto;
    box-shadow: inset 3px 3px 5px black;
}