/* body {
    background-color: black;
}

#external {
    background-color: green;
    color: orange;
} */


/* Tag selector */
/* p {
    background-color: aqua;
} */


/* id selector */
/* #para {
    color: blue;
} */


/* class selector */
/* .class_h3 {
    font-size: 40px;
} */


/* universal */
/* * {
    animation: ani 3s infinite;
}

@keyframes ani {
    0% {
        background-color: blueviolet;
    }
    50% {
        background-color: chocolate;
    }
    100% {
        background-color: blueviolet;
    }
} */


/* grouping */
/* p, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */



 /* ----------------------------------------------------------------------------------------------  */
/* Specificity
First priority will be given to inline css.
CSS runs from top to bottom so it gets overwrite
Then next is decided by the order of the the css, if internal is written before external then internal will get the proiority and vice-versa */



/* ----------------------------------------------------------------------------------------------  */
/* id vs class
----- id -----
1. one id can be given to only one element
2. one element can have only one id */

/* ----- class -----
1. one class can be given to multiple elements
2. one element can have multiple classes */



/* ----------------------------------------------------------------------------------------------  */
/* Selectors
1. tag / element  - tag name
2. id  - #
3. class  - .
4. universal  - *
5. grouping 
*/