.container {
    height: 400px;
    background-color: rgb(82, 78, 78);
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
}

.item {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
}