* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1e0;
    font-size: 3vh;
}

#div1 {
    border-bottom: 2px solid black;
}

.divs {
    border-bottom: 2px solid black;
}

.answer {
    display: none;
    /* Hide answers by default */
    color: rgb(227, 66, 66);
    margin-left: 20px;
    width: fit-content;
    border: 2px solid rgb(158, 153, 153);
    border-left: 5px solid green;
    padding: 8px;
    padding-left: 5px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-weight: 500;
}

.question {
    cursor: pointer;
    /* Indicate clickable element */
    font-weight: bold;
    margin: 10px 10px;
}
